{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row">
    {% for book in Books %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-danger">
                {{ book.title }}
            </div>
            <div class="text-warning">
                <h5>Tác Giả: {{ book.author }}</h5>
            </div>
            <a href="{% url 'intro' book.id %}"><img class="img-responsive" style="width: 100%;" alt="Image" src="{{ book.image.url }}"/></a>
        </div>
    {% endfor %}
</div>
{#Cách thứ 2 là hardcode url {{book.id}}#}

{% endblock %}
