{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<div class="col">
    <div class="row" style="background: aliceblue">
        <div class="col-md-3" style="background: floralwhite">
            <img class="img-responsive" style="width: 100%;" alt="Image" src="{{book.image.url}}"/>
            <div class="text-info">
                Tác Giả: {{ book.author }}
            </div>
            <div class="text-warning">
                Thể loại: {{ book.category }}
            </div>
        </div>
        <div class="col-md-9" style="background: aliceblue">
            <div class="text-center">
                <h2>{{ book.title }}</h2>
            </div>
            <div class="text-success">
                <h4>{{ book.introduction }}</h4>
            </div>
        </div>
    </div>
    <br/>
    <div class="col">
        {% for article in articles %}
        <div>
            <a href="{% url 'article' article.id %}"><p><strong>{{ article.name }}</strong></p></a>
        </div>
        {% endfor %}
    </div>
</div>
{#Cách thứ 2 là dùng hardcode url article/{{article.id}}#}
{% endblock %}